.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.form-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
}

.form-container .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  margin: 15px 0;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form-container textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form-container .contact-submit {
  align-self: center;
  padding: 10px;
  margin: 0 50%;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(65, 153, 225);
  color: #fff;
  cursor: pointer;
}
.form-container .contact-submit:hover {
  outline-offset: 2px; /* Adjust the value as needed */
  box-shadow: 0 0 10px rgba(65, 153, 225, 0.7); /* Optional box shadow for hover effect */
}

@media (max-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    right: 90px;
  }
  .form-container::before {
    width: 100%;
    height: 50%;
  }
  .form-container .title {
    font-size: 18px;
  }
  .form-container input {
    width: 250px;
    height: 50px;
  }
  .contact-content {
    justify-content: center;
  }
  .form-container .contact-submit {
    /* margin:0 100px; */
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .form-container {
    width: 80%;
  }
}
